
{% extends "contents/header.html" %}
{% block content %}
{% load staticfiles %}
<style>
#overflowTest {
     background:white;
    padding: 20px;
    width: 100%;
    height: 400px;
    overflow: auto;
    <!--border: 1px solid #ccc;-->
}
</style>
<div id="overflowTest" style="margin-bottom: 20px;">
<h1 style="text-align: center; margin-top: 0px; margin-bottom: 0px;">Shark Tank Cast</h1>
<h4 style="font-size: 18px; text-align: center; margin-top: 0px;">Who Are The Sharks?</h4>
<p>The cast of ABC’s Shark Tank is a rotating group of investors, business experts, and self-made millionaire and billionaires.
    There is a core group of <a href="/shark_six/">6 sharks</a>(Mark Cuban, Robert Herjavec, Barbara Corcoran, Lori Greiner, Daymond John, and
    Kevin O’Leary, 5 of which appear on any given episode of Shark Tank. From time to time the
    Shark Tank cast includes <a href="/guests/">special guest</a> investors like Jeff Foxworthy, John Paul DeJoria, Steve Tisch, Nick Woodman,
    Chris Sacca, Troy Carter, Sara Blakely, Bethenny Frankel, Richard Branson, Rohan Oza, Alex Rodriguez, and Ashton Kutcher.
    Kevin Harrington was part of the original Shark Tank cast appearing on seasons one and two.</p>


<img src="{% static 'contents/img/shark-tank-cast-1024x512.jpg' %}" class="responsive-img" alt="SharkTankCast" width="1024" height="512">


</div>





{% endblock %}