{% extends "contents/header.html" %}
{% block content %}
{% load staticfiles %}

Daymond John
<img src="{% static 'contents/img/daymond-john-shark-tank-investor.jpg' %}" class="img-circle" alt="Diamound John Shark Tank" width="240" height="200" />


<ul class="SharkBullets">
<li>Seasons 1 &#8211; Current</li>
<li>Founder of FUBU apparel company</li>
<li>CEO and founder of The Shark Group</li>
<li>Brandweek Marketer of the Year (1999)</li>
<li>NAACP Entrepreneurs of the Year Award (1999)</li>
<li>Crain&#8217;s Business Forty Under Forty Award (2002)</li>
<li>Ernst &amp; Young&#8217;s New York Entrepreneur of the Year Award (2003)</li>
<li>Board of Overseers and volunteer at NFTE</li>
<li>Appointed by President Obama as an ambassador to promote underserved entrepreneurs (2015)</li>
</ul>
<a href="https://daymondjohn.com/" style="color:#FFFFFF;background-color:#367fc5;border-color:#2b669e;" target="_blank">Daymond&#8217;s Website</a>
</div>
<p class="text-justify">
    A resourceful entrepreneur, Daymond John’s evolution from waiting tables at Red Lobster to carving a career with unparalleled success in fashion and branding is quite a story. He credits his success to his love of learning. A true opportunist, Daymond always found a way to up his game and acquire the skills he needed to take his business to the next level. ‘The only thing more expensive than education is ignorance,’ he says, putting his money where his mouth is. Daymond has become a thought leader who regularly shares his wisdom as a sought after branding and business expert and motivational speaker.
Daymond’s creative vision, commitment and sewing skills got the most iconic fashion brand in recent years off the ground from his mother’s remortgaged house in Hollis, Queens. FUBU, standing for “For Us By Us,” tapped into a market that had previously been neglected and paved the way for Daymond’s total innovation of branding strategy. Sharing his neighborhood with Hip Hop artists like RUN DMC and Salt-N-Peppa, FUBU became a synonymous with the emerging music culture that had a dedicated and growing community. When Daymond succeeded in getting various rappers, including superstar LL Cool J, to wear his T-Shirts on their music videos, popularity for his brand soared. He was still waiting tables while building the company for several years, sewing much of the merchandise himself. He recruited a couple of friends and then eventually some seamstresses, who came to work in his mother’s house as sales started to climb.

Drive and improvisation have gotten Daymond through one learning curve after another. The journey from sewing hats in his kitchen to being listed #15 on Details magazine’s list of “50 Most Influential Men” has earned him some valuable lessons. From mastering manufacturing to developing the perfect partnerships, to building and maintaining brand legitimacy, Daymond has become a master strategist. He soon recognized that the only way to fill the gaps in his knowledge was to partner with someone who already knew what he needed to know. When he signed a deal with Samsung America for global distribution, FUBU reached annual sales of $350 million, on a par with Donna Karan New York and Tommy Hilfiger.

Daymond now uses his branding expertise to build new companies through strategic relationships with icons in pop culture. As author of Display of Power: How FUBU Changed A World Of Fashion, The Power of Broke: How Empty Pockets, a Tight Budget, and a Hunger for Success Can Become Your Greatest Competitive Advantage, and The Brand Within: How We Brand Ourselves, From Birth To The Boardroom, Daymond continues to share his wisdom on the power of relationships in building brand success.
</p>

{% endblock %}