{% extends "contents/header.html" %}
{% block content %}
<div class="jumbotron">
    <h1 style="text-align: center; margin-top: 0px; margin-bottom: 0px;">Shark Tank</h1>

<p class="text-justify">Shark Tank is an American reality television series that premiered on August 9, 2009, on ABC. The show is a
    franchise of the international format Dragons' Den, which originated in Japan in 2001. Shark Tank shows aspiring entrepreneurs as
    they make business presentations to a panel of five "shark" investors, who then choose whether to invest as business partners.</p>

<p class="text-justify">Shark Tank has been a ratings success in its time slot and has won the Primetime Emmy Award for Outstanding
    Structured Reality Program four times, from 2014 through 2017, in all four years of that category's existence. Prior to that,
    from 2012 to 2013, it won Outstanding Reality Program.</p>

<p class="text-justify">The series was renewed for a ninth season, which premiered on October 1, 2017 with a time slot change from
    Friday to Sunday night. On January 8, 2018, the series was renewed for a tenth season which will premiere on October 7, 2018</p>
</div>
{% endblock %}