{% extends "contents/header.html" %}
{% block content %}
{% load staticfiles %}

<script type="text/javascript">
    function filter() {
        var season = document.getElementById("season");
        var gender = document.getElementById("gender");
        var deal = document.getElementById("deal");
        var amount = document.getElementById("amount");
        var industry = document.getElementById("industry");
        var investors = '';

        var investorNodes = document.getElementById("investors").getElementsByTagName("input");
        console.log(investorNodes);
        for (node of investorNodes){
            if(node.checked){
                investors = investors + node.value + '-';
            }
        }
        var seasonValue = season.value;
        var genderValue = gender.value;
        var dealValue = deal.value;
        var amountVal = amount.value;
        var industryVal = industry.value;
        var link = `/stpdata?season=${seasonValue}&entrepreneur_gender=${genderValue}&deal=${dealValue}&amount=${amountVal}&industry=${industryVal}&investors=${investors}`;

        window.location.href = link;
    }
</script>
<style>
	#overflowTest {
    background:white;
    padding: 15px;
    width: 100%;
    height: 400px;
    overflow: auto;
    }
    h4{
    color:#ffffff;
    }
    .clo{
    color:#ffffff;
    }

</style>
<table>
	<tr>
        <th><h4>Filter By:&nbsp;&nbsp;&nbsp;&nbsp;</h4></th>
		<th>
	<h4>Seasons</h4><select id="season">
                <optgroup label="Season">
                    <option selected></option>
                    <option value=1>Season 1</option>
                    <option value=2>Season 2</option>
                    <option value=3>Season 3</option>
                    <option value=4>Season 4</option>
                    <option value=5>Season 5</option>
					<option value=6>Season 6</option>
                </optgroup>
		</select></th>

        <th>
<h4>Gender</h4><select id="gender">
                <optgroup label="Gender">
                    <option selected></option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Mixed Team">Mixed Team</option>
                </optgroup>
	</select></th>

	<th>
<h4>Deal</h4><select id="deal">
                <optgroup label="Deal">
                    <option selected></option>
                    <option value="Yes">Yes</option>
                    <option value="No">No</option>
                </optgroup>
	</select></th>
    <th><h4>Total Amount</h4><select id="amount">
                <optgroup label="Amount in USD">
                    <option selected></option>
                    <option value="1-99999">$1 - $99,999</option>
                    <option value="100000-299999">$1,00,000 - $2,99,999</option>
                    <option value="300000-499999">$3,00,000 - $4,99,999</option>
                    <option value="500000-">Above $5,00,000</option>
                </optgroup>
	</select></th>
    <th><h4>Industry Type</h4><select id="industry">
                <optgroup label="Industry Type">
                    <option selected></option>
                    <option value="Healthcare">Healthcare</option>
                    <option value="Food and Beverage">Food and Beverage</option>
                    <option value="Business Services">Business Services</option>
                    <option value="Lifestyle / Home">Lifestyle / Home</option>
                    <option value="Children / Education">Children / Education</option>
                    <option value="Consumer Products">Consumer Products</option>
                    <option value="Media / Entertainment">Media / Entertainment</option>
                    <option value="Software / Tech">Software / Tech</option>
                    <option value="Fitness / Sports">Fitness / Sports</option>
                    <option value="Fashion / Beauty">Fashion / Beauty</option>
                    <option value="Pet Products">Pet Products</option>
                    <option value="Green/CleanTech">Green/CleanTech</option>
                    <option value="Uncertain / Other">Uncertain / Other</option>


                </optgroup>
	</select></th>
    <!--<th><h4>Investors</h4><select id="investor">-->
                <!--<optgroup label="Investors">-->
                    <!--<option selected></option>-->
                    <!--<option value="corcoran">Barbara Corcoran</option>-->
                    <!--<option value="cuban">Mark Cuban</option>-->
                    <!--<option value="greiner">Lori Greiner</option>-->
                    <!--<option value="herjavec">Robert Herjavec</option>-->
                    <!--<option value="john">Daymond John</option>-->
                    <!--<option value="olary">Kevin O'Leary</option>-->
                    <!--<option value="harrington">Kevin Harrington</option>-->
                    <!--<option value="guests">Guest</option>-->
                <!--</optgroup>-->
	<!--</select></th>-->
    <!--</th>-->

    </tr></table>
<div id="investors" class="clo">
    Investors:
        <input type="checkbox" value="corcoran">Barbara Corcoran
        <input type="checkbox" value="cuban">Mark Cuban
        <input type="checkbox" value="greiner">Lori Greiner
        <input type="checkbox" value="herjavec">Robert Herjavec
        <input type="checkbox" value="john">Daymond John
        <input type="checkbox" value="olary">Kevin O'Leary
        <input type="checkbox" value="harrington">Kevin Harrington
        <input type="checkbox" value="guests">Guests

</div>


<br>
<div><button type="button" onclick="filter()" class="btn btn-primary"  style="margin-bottom:20px;">Apply</button>

</div>
<div id="overflowTest" style="margin-bottom: 20px;">

<table class="table">
    {% if not products %}
       <h1>No Records Found!</h1>

    {% endif %}

	{% for product in products %}



        <h5><tr><th>Season:{{ product.season}}</th>
            <th>Company:<a href="/stpdata/{{ product.id }}">{{ product.company }}</a></th>
            <th>Industry:{{ product.industry }}</th>
            <th>Gender:{{ product.entrepreneur_gender }}</th>
            <th>Deal:{{ product.deal }}</th></tr></h5>
	{% endfor %}
</table>
</div>
{% endblock %}

